/* CSS goes here*/
#show-balance {
    display:none;
}

#dance-banana {
    display:none;
}

body {
    background-image:url(http://www.unitedfreshservices.com/content/01-services_bananen_rijperij/banana_ripening.jpg);
    background-position:center;
    background-size: 200%;
    background-repeat:no-repeat;
    color:white;
    text-shadow:1px 1px 5px black;
}
